@using System.Security.Claims
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Thomson-Minimal Portfolio Temaplate</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="thomson" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/ui/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="/ui/plugins/counto/animate.css">
    <link rel="stylesheet" href="/ui/plugins/aos/aos.css">
    <link rel="stylesheet" href="/ui/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/ui/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/ui/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/ui/plugins/animated-text/animated-text.css">

    <!-- Main Stylesheet -->
    <link href="/ui/css/style.css" rel="stylesheet">

</head>

<body>

   @Html.Partial("_LoginIndicator")

    <!-- Navigation Start -->
    <!-- Header Start -->

    <nav class="navbar navbar-expand-lg  main-nav " id="navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="/ui/images/logo.png" alt="" class="img-fluid">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-align-justify"></span>
            </button>

            @Html.Partial("_Menu")

        </div>
    </nav>

    <!-- Header Close -->
    <!-- Navigation ENd -->
    <!-- Banner Start -->
    <section class="section banner">
       @Html.Partial("_Banner")
    </section>

    <!-- Banner End -->
    <!-- POrtfolio start -->
    <section class="portfolio ">

        @RenderBody()

    </section>
    <!-- Portfolio End -->
    <!-- Service start -->
    <section class="section service-home border-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mb-2 ">Core Services.</h2>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="service-item mb-5" data-aos="fade-left">
                        <i class="ti-layout"></i>
                        <h4 class="my-3">Web Development</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item mb-5" data-aos="fade-left" data-aos-delay="450">
                        <i class="ti-announcement"></i>
                        <h4 class="my-3">Digital Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item mb-5 mb-lg-0" data-aos="fade-left" data-aos-delay="750">
                        <i class="ti-layers"></i>
                        <h4 class="my-3">Graphics Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item" data-aos="fade-left" data-aos-delay="750">
                        <i class="ti-anchor"></i>
                        <h4 class="my-3">Branding Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item mb-5" data-aos="fade-left" data-aos-delay="950">
                        <i class="ti-video-camera"></i>
                        <h4 class="my-3">Video Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item mb-5 mb-lg-0" data-aos="fade-left" data-aos-delay="1050">
                        <i class="ti-android"></i>
                        <h4 class="my-3">App Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service end -->
    <!-- Footer start -->
    <section class="footer">
        @Html.Partial("_Footer")
    </section>
    <!-- Footer End -->
    <!-- jQuery -->
    <script src="/ui/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/ui/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/ui/plugins/aos/aos.js"></script>
    <script src="/ui/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="/ui/plugins/shuffle/shuffle.min.js"></script>
    <script src="/ui/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/ui/plugins/animated-text/animated-text.js"></script>
    <script src="/ui/plugins/counto/apear.js"></script>
    <script src="/ui/plugins/counto/counTo.js"></script>

    <!-- Google Map -->
    <script src="/ui/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
    <!-- Main Script -->
    <script src="/ui/js/script.js"></script>
</body>
</html>
